# place ${HOME}/.gradle/gradle.properties to set following private properties
#
BINTRAY_USER="user"
BINTRAY_KEY="key"
signing.keyId=0ABCDE
signing.secretKeyRingFile=$HOME/.gnupg/secring.gpg
githubToken='XXXXXXXXXXXXXXXXXXXXXXXXXX'
